* {
  font-family: Helvetica;
  margin: 0;
}

h1 {
  text-align: center;
  margin: 1em;
}

.form,
.books-container  {
  width: 450px;
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: .5em;
}

.form-control label {
  font-weith: bold;
  margin-bottom: .3em;
}

.form-control input {
  padding: 5px;
}

/* BOOKS */
.books-container div {
  border-bottom: 1px solid #CCC;
  padding: 5px;
  margin: 5px;
}
.bold {
  font-weight: bold;
}

#navbar {
  border-bottom: 1px solid #ccc;
  padding: 0.5em;
  margin-bottom: 1em;
}

#navbar ul{
  margin: 0;
  display: flex;
  list-style: none;
}


#navbar ul li{
  margin-left: 1em;
}

/* BOOK */

#book-page {
  padding: 2em;
}

#book-page .container {
  text-align: center;
}

.actions {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.actions a {
  margin-right: 1em;
}